<!-- Footer -->
<footer class="bg-white py-12">
    <div class="footer-container">
        <div class="footer-grid">
            <!-- Left Column -->
            <div class="footer-column">
                <p class="footer-text">Lapillo </p>
                <p class="footer-text">studio.lapillo@gmail.com</p>
            </div>
            
            <!-- Right Column -->
            <div class="footer-column">
                <p class="footer-text">&nbsp;</p>
                <p class="footer-text">&copy; 2025 Lapillo. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
